@import 'https://fonts.googleapis.com/css?family=Philosopher';

body, html{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: Philosopher, "Calibri Light", Arial, serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #448AFF;
    color: #FFFFF7;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: -webkit-radial-gradient(circle, #000, #565656, #f6efe2 50%, #fff);
    color: #2c3e50;
    height: 5em;
    z-index: 0;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("img/bck2.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 50% 50%;
    height: inherit;
}

#btm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f6efe2;
    color: #000;
    height: 3em;
    z-index: 0;
}

/* MAIN CONTAINER BELOW */

#sidebar_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 30%;
    background-image: url("img/sidebar_movie.png");
    background-size: cover;
}

#sidebar_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 30%;
    background-image: url("img/sidebar_movie.png");
    background-size: cover;
}

#main_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(103,161,215, 0.5);
    width: 40%;
    height: 100%;
    min-width: 40%;
}

.CONT_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    min-width: 40%;
}

#cont2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    min-width: 100%;
    margin-top: 5em;
}

.ICON_IMG{
    height: 50px;
}

#logo{
    height: 4em;
}

/* BUTTON STYLING BELOW */

.BUTTON{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 5px;
    color: #FFFFF7;
    font-size: 0;
    height: 100px;
    margin-left: 20px;
}

#ref_vid1, #ref_vid4{
    margin-left: 0;!important; /* Centers all elements */
}

/* Animation code */

@keyframes expandThis {
    from {height: 100px; font-size: 0;}
    to {height: 200px; font-size: 18px}
}

@keyframes shrinkThis {
    from {height: 200px;}
    to {height: 100px;}
}

@keyframes showDesc {
    from {visibility: hidden;}
    to {visibility: visible;}

}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}

.BUTTON:hover{
    /* Call the animation on hover */
    animation: expandThis 500ms forwards;
}

.BUTTON{
    /* Reverse on focus loss */
    animation: shrinkThis 300ms forwards;
}

.VID_IMG{
    height: inherit;
}

#refresh_btn:hover{
    animation: spin 800ms forwards;
}

/*
~~~~~~~~~~~~~~~~~~

RESOLUTION CHANGES

~~~~~~~~~~~~~~~~~~
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .CONT_1{
        width: 100%;
        min-width: 100%;
    }

    #cont2{
        margin-top: 0;
    }

    .BUTTON{
        justify-content: space-between;
        width: auto;
        margin-left: 1px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* N/A For this screen */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    #sidebar_1, #sidebar_2{
        width: 20%;
        max-width: 20%;
    }

    #main_main{
        width: 60%;
        min-width: 60%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* N/A For this screen */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* N/A For this screen */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    #sidebar_1, #sidebar_2{
        width: 20%;
        max-width: 20%;
    }

    #main_main{
        width: 60%;
        min-width: 60%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    #sidebar_1, #sidebar_2{
        width: 20%;
        max-width: 20%;
    }

    #main_main{
        width: 60%;
        min-width: 60%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    #sidebar_1, #sidebar_2{
        width: 20%;
        max-width: 20%;
    }

    #main_main{
        width: 60%;
        min-width: 60%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    #sidebar_1, #sidebar_2{
        width: 20%;
        max-width: 20%;
    }

    #main_main{
        width: 60%;
        min-width: 60%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    #sidebar_1, #sidebar_2{
        width: 20%;
        max-width: 20%;
    }

    #main_main{
        width: 60%;
        min-width: 60%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    #sidebar_1, #sidebar_2{
        width: 20%;
        max-width: 20%;
    }

    #main_main{
        width: 60%;
        min-width: 60%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    #sidebar_1, #sidebar_2{
        width: 0;
        max-width: 0;
    }

    #main_main{
        width: 100%;
        min-width: 100%;
    }

    .BUTTON{
        /* CHANGE ME */
    }
}

